include README.md
include LICENSE
include CHANGELOG.md
include .flake8
recursive-include examples *.py
recursive-exclude docs/confidential *
recursive-exclude tests *
recursive-exclude .cursor *
exclude .gitignore
exclude .cursorignore
prune db
prune docs/confidential
